.focus {
  height: 30vh;
  background-color: lightcoral;
  margin-bottom: 20px;
  transition: 0.5s ease-in;
}

.visible {
  background-color: lightseagreen;
}

.vis0 {
    background-color: lightcyan;
}